.chat-messages {
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: var(--middleground-color);
    display: grid;
    grid-template-rows: min-content 1fr fit-content;
    z-index: 2;
}

.users-wrapper {
    flex: 1;
    display: flex;
    justify-content: space-around;
}

.exit-wrapper {
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: center;
    padding: 1rem 1rem 1rem 0;
}

.exit-wrapper button, .status-modal button {
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    display: flex;
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--highlight-color);
    padding: .1rem;
    --filter: var(--foreground-img-filter)
}

.exit-wrapper button img {
    width: 30px;
    height: 30px;
    filter: var(--filter);
}

.exit-wrapper button:hover {
    --filter: var(--highlight-img-filter)
}

textarea#message {
    width: 100%;
    min-height: 3rem;
    max-height: 17.1rem;
    font-size: 1rem;
    outline: none;
    background-color: var(--background-color);
    border: 1px solid var(--foreground-color);
    resize: none;
    color: var(--text-muted);
    field-sizing: content;
    word-break: break-word;
    padding: .8rem .5rem;
    border-radius: 10px;
    font-family: "roboto";
    line-height: 1.5rem;
    /* scrollbar-width: none; */
    scrollbar-width: thin;
    scrollbar-color: var(--foreground-color) #00000000;
    scrollbar-gutter: stable;
    scroll-behavior: smooth;
}

textarea#message::placeholder {
    color: var(--text-muted);
    opacity: .5;
}

.chat-messages form {
    margin: 1rem;
    overflow: hidden;
}

.messages {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--foreground-color) var(--middleground-color);
    padding: .5rem;
    align-items: center;
    scroll-behavior: smooth;
}

.status-modal {
    position: absolute;
    top: 3%;
    left: 1rem;
    background-color: var(--foreground-color);
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .2rem .2rem .2rem .5rem;
    color: var(--background-color);
}

.status-modal.hidden {
    display: none;
}

.status-modal button {
    --filter: var(--background-img-filter);
}

.status-modal button:hover {
    --filter: var(--middleground-img-filter)
}

.status-modal button img {
    width: 20px;
    filter: var(--filter);
}



@media only screen and (width <= 400px) {
    .messages {
        padding: .5rem 0;
    }
}