main.main-page {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: min(280px, 100%) 2fr;
    position: relative;
}

.sidebar {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-top: 1px solid var(--middleground-color);
    position: relative;
}

.chat-rooms {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: .2rem;
}

.chat-rooms.hidden {
    display: none;
}

.chat-btn {
    cursor: pointer;
    background: none;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    font-size: 1rem;
    color: var(--text-muted);
    border-radius: 10px;
    padding: .3rem;
}

.chat-btn:hover, .chat-btn:focus {
    background-color: var(--middleground-color);
}

.chat-btn .img-wrapper {
    max-width: 40px;
    display: flex;
}

.chat-btn img {
    width: 100%;
}

.global-img {
    filter: var(--foreground-img-filter);
}

.main-pane {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: var(--middleground-color);
}

.friends-pane {
    position: absolute;
    width: calc(100vw - 100%);
    height: 100%;
    background-color: var(--middleground-color);
    left: 100%;
    top: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
}

.friends-pane.hidden {
    display: none;
}

.pane-toggle {
    display: none;
    gap: 1rem;
    padding: 1rem 0 2rem 0;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--middleground-color);
    width: 100%;
    justify-content: center;
}

.pane-toggle button {
    cursor: pointer;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    background-color: var(--middleground-color);
    padding: .6rem 1.1rem;
    color: var(--text-muted);
    border-radius: 10px;
}

.pane-toggle button.active {
    background-color: var(--foreground-color);
}

.pane-toggle button:not(.active):hover {
    background-color: var(--highlight-color);
}



@media only screen and (width <= 600px) {
    .main-pane {
        position: static;
    }

    main.main-page {
        grid-template-columns: 1fr min-content;
    }

    .friends-pane {
        width: 100%;
        position: relative;
        left: 0;
        background-color: var(--background-color);
    }

    .pane-toggle {
        display: flex;
    }
}