.msg-card {
    display: flex;
    padding: .5rem;
    color: var(--text-muted);
    width: min(800px, 100%);
    gap: .5rem;
    border-radius: 10px;
    align-items: start;
    font-size: clamp(.9rem, .5rem + 2vw, 1rem);
}

.msg-card:hover, .msg-card:focus {
    background-color: var(--background-color);
}

.msg-content {
    flex: 1;
}

.msg-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .3rem;
}

.msg-author {
    display: flex;
    align-items: end;
    gap: .5rem;
    position: relative;
    cursor: pointer;
    --text-underline: none;
}

.msg-author:hover, .msg-author:focus {
    --text-underline: underline;
}

.msg-profile-wrapper {
    max-width: 45px;
    display: flex;
    cursor: pointer;
}

.msg-profile {
    width: 100%;
}

.msg-profile.default {
    filter: var(--highlight-img-filter);
}

.msg-username {
    font-weight: bold;
    max-width: clamp(6ch, 4ch + 20vw, 50ch);
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: var(--text-underline);
}

.options-modal {
    position: absolute;
    top: 0%;
    left: 0;
    right: 0;
    width: fit-content;
    margin: 0 auto;
    background-color: var(--highlight-color);
    padding: 1rem;
    border-radius: 10px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.options-modal.hidden {
    display: none;
}

.options-modal button {
    cursor: pointer;
    background: none;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    color: var(--background-color);
    width: max-content;
}

.options-modal button:hover, 
.options-modal button:focus {
    text-decoration: underline;
}

.msg-date {
    font-size: .8rem;
    opacity: .8;
}

.msg-text {
    max-width: 100%;
    word-break: break-word;
}

.msg-edit-btns {
   display: flex;
   gap: 1rem; 
}

.msg-edit-btns button {
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
    max-width: 20px;
    --filter: var(--foreground-img-filter)
}

.msg-edit-btns button img {
    width: 100%;
    filter: var(--filter);
}

.msg-edit-btns button:hover, 
.msg-edit-btns button:focus {
    --filter: var(--highlight-img-filter)
}

.msg-text-editing {
    background-color: var(--background-color);
    border: 1px solid var(--foreground-color);
    border-radius: 10px;
    padding: .5rem;
    color: var(--text-muted);
    font-size: clamp(.9rem, .5rem + 2vw, 1rem);
    font-family: "roboto", sans-serif;
    field-sizing: content;
    width: 100%;
    word-break: break-word;
    resize: none;
    outline: none;
    max-height: 17.1rem;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
    scrollbar-color: var(--foreground-color) #00000000;
}



@media only screen and (width <= 400px) {
    .msg-username {
        max-width: clamp(6ch, 4ch + 8vw, 10ch);
    }
}